body{

    background:#f4f6f9;

}

.sidebar{

    width:240px;

    height:100vh;

    background:#212529;

    color:white;

    position:fixed;

}

.sidebar a{

    color:white;

    display:block;

    padding:15px;

    text-decoration:none;

}

.sidebar a:hover{

    background:#0d6efd;

}

.contenido{

    margin-left:240px;

    width:100%;

    padding:25px;

}