    {% extends 'base.html' %}

{% block contenido %}

<h2>Historial de Ventas</h2>

<hr>

<div class="table-responsive">
<table id="tablaVentas" class="table tabla table-striped table-hover">

    <thead class="table-dark">

        <tr>

            <th>Folio</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Total</th>

        </tr>

    </thead>

    <tbody>

    {% for venta in ventas %}

        <tr>

            <td>{{ venta.id }}</td>

            <td>{{ venta.fecha.strftime('%d/%m/%Y %H:%M') }}</td>

            <td>{{ venta.cliente.nombre }}</td>

            <td>${{ "%.2f"|format(venta.total) }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>
</div>

{% endblock %}

{% block scripts %}



{% endblock %}

