{% extends 'base.html' %}


{% block contenido %}



<h2 class="mb-4">

    Kardex de Inventario

</h2>





<div class="card shadow">



<div class="card-body">





<div class="table-responsive">





<div class="table-responsive">
<table

id="tablaKardex"

class="table tabla table-striped table-hover tabla nowrap"

style="width:100%">





<thead class="table-dark">



<tr>


<th>Fecha</th>

<th>Producto</th>

<th>Tipo</th>

<th>Cantidad</th>

<th>Stock Anterior</th>

<th>Stock Nuevo</th>

<th>Referencia</th>



</tr>


</thead>






<tbody>




{% for mov in movimientos %}





<tr>




<td>

{{ mov.fecha.strftime('%d/%m/%Y %H:%M') }}

</td>





<td>

{{ mov.producto.nombre }}

</td>





<td>



{% if mov.tipo == "Entrada" %}



<span class="badge bg-success">

Entrada

</span>



{% else %}



<span class="badge bg-danger">

Salida

</span>



{% endif %}



</td>





<td>

{{ mov.cantidad }}

</td>





<td>

{{ mov.stock_anterior }}

</td>





<td>

{{ mov.stock_nuevo }}

</td>





<td>

{{ mov.referencia }}

</td>





</tr>





{% endfor %}






</tbody>






</table>
</div>






</div>





</div>



</div>







{% endblock %}






{% block scripts %}








{% endblock %}